.btn {
  padding: 10px 20px;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #fff;
  outline: none;
  border: none;
  background-color: blueviolet;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover {
  background-color: rgb(66, 11, 117);
}
